<h1><%= @team_1.inspect %></h1>
<h1><%= @team_1.first_votes.select(:id).inspect %></h1>
<h1><%= @team_1.second_votes.select(:id).inspect %></h1>
<h1><%= @team_1.third_votes.select(:id).inspect %></h1>
