<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 style="maigin-top:20px;"> Buy side - 현재 나온 이 팀의 상품을 사고싶다면!
      <table class="table-info table-hover" style="text-align:center;">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>이름</th>
            <th>사고싶은 물량</th>
            <th>사고싶은 총 가격</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>2개</td>
            <td>1000원</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>3개</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table></h2>
    </div>
    <div class="col-md-6">
     <h1> Sell side - 현재 이 팀 상품을 판매하고 있는 사람들!
      <table class="table-warning table-hover" style="text-align:center;">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
