<div class="container">
  <!--Page heading-->
   <div class="row">
       <div class="col-md-12" style="margin-top:20px;">
           <h2 class="h1-responsive" style="text-align:center;">
             <strong>이 서비스들이 세상에 나온다면..<br> 사람들이 가장 유용하게 사용하는 서비스는 무엇이 될까요?<br></strong>
             <small class="text-muted" style="text-align:center;">당신의 선택이 중요합니다!<br><h4>(팀 번호만 적어주세요!)</h4></small><hr>
            <form action="/vote/firstvotecheck/">
                <div class="col-md-3">
                  <input type="text" name="vote1" style="text-align:center;"/>
                  <label for="team_number">1순위 팀을 골라주세요!</label>
                </div>
                <div class="col-md-3">
                  <input type="text" name="vote2" style="text-align:center;"/>
                  <label for="team_number">2순위 팀을 골라주세요!</label>
                </div>
                <div class="col-md-3">
                  <input type="text" name="vote3" style="text-align:center;"/>
                  <label for="team_number">3순위 팀을 골라주세요!</label>
                </div>
                <div class="col-md-3">
                <button type="submit" class="btn btn-primary">모두 결정했어요!</button>
                </div>
           </form>
           </h2>
       </div>
   </div>
   <!--/.Page heading-->
   <hr>
    <div class="row" style="text-align:center;">
      <% Teamlist.get_list.each do |t| %>
           <!--First column-->
           <div class="col-md-4">
               <!--Card-->
               <div class="card">
                   <!--Card image-->
                   <div class="view overlay hm-white-slight">
                       <img src="http://mdbootstrap.com/images/regular/nature/img%20(10).jpg" class="img-fluid" alt="">
                       <a href="#!">
                           <div class="mask"></div>
                       </a>
                   </div>
                   <!--/.Card image-->
                   <!--Card content-->
                   <div class="card-block">
                       <!--Title-->
                       <h3 class="card-title"><strong><%= t.id %>팀</strong></h3><hr>
                       <h4 class="card-title"><%= t.name %></h4>
                       <!--Text-->
                       <p class="card-text"><%= t.name %>의 문제를 해결하겠습니다!</p>
                   </div>
                   <!--/.Card content-->
               </div>
               <!--/.Card-->
           </div>
           <!--/.First column-->
      <% end %>
    </div>
</div>
