<!DOCTYPE html>
<html>
<head>
  <title>ExpectationMarket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Template styles -->
  <link href="css/style.css" rel="stylesheet">

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/tether.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

</head>
<body>
  <header>
  <!--Navbar-->
  <nav class="navbar navbar-dark primary-color-dark">
      <!-- Collapse button-->
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
          <i class="fa fa-bars"></i>
      </button>
      <div class="container">
          <!--Collapse content-->
          <div class="collapse navbar-toggleable-xs" id="collapseEx">
              <!--Navbar Brand-->
              <a class="navbar-brand" href="/home/index" target="_blank">JEM</a>
              <!--Links-->
              <ul class="nav navbar-nav">
                  <li class="nav-item <% if params[:controller] == 'home' %>active<% end %>">
                      <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item <% if params[:controller] == 'team' %>active<% end %>">
                      <a class="nav-link" href="/team/index">Event</a>
                  </li>
                  <li class="nav-item <% if params[:controller] == 'mypage' %>active<% end %>">
                      <a class="nav-link" href="#">Pricing</a>
                  </li>
              </ul>
          </div>
          <!--/.Collapse content-->
      </div>
  </nav>
  <!--/.Navbar-->
  </header>
<%= yield %>

</body>
</html>
